## Pandas로 Excel 파일 불러 오기
### pd.read_excel(excel_file)  :  excel_file 은 전체 경로+파일명 
#### 엑셀 데이터의 첫번째 행이 columns 데이터가 되고,  index 값은 0 부터 자동으로 설정된다.

#### 옵션 : index_col = '열이름' 혹은 열 번호 / sheet_name = '시트명' 혹은 시트번호(기본 : 0) / header = 행 번호 혹은None / names=column데이터  /  skiprows : 엑셀을 읽을 때 첫줄(0)으로 부터 몇 줄을 건너뛸지 지정  /  nrows : 몇 줄을 읽을지 지정 / usecols='B:D' : B~D 열만 읽어 온다. 
#### index_col 과 names 는 동시에 사용 할 수 없다

In [2]:
import pandas as pd

folder="C:/myPyExcel/"
excel_file=folder+'함수.xlsx'

df=pd.read_excel(excel_file, sheet_name="합계평균개수", skiprows=1, usecols="B:H")

# '이름' 열을 index로
# df1=pd.read_excel(excel_file, sheet_name="합계평균개수", skiprows=1, usecols="B:H", index_col='이름')

# 기존의 열 이름 대신에  사용자가 열 이름을 지정 : 기존의 column으르 제외하고 불러 와 진다.
# header=0 으로 지정 하면 동일한 결과를 가져 온다. 
# df2=pd.read_excel(excel_file, names=['a','b','c','d','e','f','g'])

df

     이름      학과  학년   과제   출석   중간   기말
0   이종철  컴퓨터공학과   2   73  100   88   73
1   김유광    경영학과   4   97  100  100   95
2   유대표  컴퓨터공학과   1   90  100   87   94
3   이종기   기계공학과   1    0   90   88   91
4   홍기철   전자공학과   2   80  100   83   73
5   강동주   전자공학과   3   82  100   98   78
6   심영란  컴퓨터공학과   3   73   75   62   88
7   김유명   기계공학과   4   85  100   78  100
8   송연정   전자공학과   2   80   80   73   98
9   홍길동    경영학과   2   82   90   95   62
10  강호동  컴퓨터공학과   2   95  100  100   98
11  유광석   기계공학과   1   80   75   98   94
12  유대표    경영학과   4   82  100   62   93
13  심영란   전자공학과   3   73  100   78   89
14  강병목   전자공학과   3  100  100   73   94
15  나영웅  컴퓨터공학과   1   90  100   75   81
16  조현호   기계공학과   3   95  100   81   89
17  문희선   전자공학과   4    0   80   73   83
18  박수민   기계공학과   3   80  100   83   91
19  복솔이    경영학과   2   82  100   63   83
20  송지수  컴퓨터공학과   3   90  100   91   93
21  송은경   기계공학과   3   65  100   73   78
22  신아영   전자공학과   4   95  100   95   75
23  심우광  컴퓨터공학과   4   80  100   73   89
24  안지오    경영학과   3   82  100   78   94
25  안지혜    경영학과   3   85  100   88   78
26  오수호   기계공학과   1   95  100   94   98

### 불러 오는 데이터의 영역 지정

In [3]:
import pandas as pd

folder="C:/myPyExcel/"
excel_file=folder+'함수.xlsx'

# sheet_name="합계평균개수" : "합계평균개수" 시트에서
# skiprows=1 : 1줄 건너뛰고(2행부터), 
# nrows=20 : 20개의 행을 불러 오며, 첫번째 행은 columnData가 된다.
# nrows를 생략 하면, 알아서 데이터가 있는 만큼 읽어온다.
# usecols='B:H', 
# B~H 열만 대상으로 한다.(B3:H7 영역)
df=pd.read_excel(excel_file, sheet_name="합계평균개수", skiprows=1, usecols="B:H")

df

     이름      학과  학년   과제   출석   중간   기말
0   이종철  컴퓨터공학과   2   73  100   88   73
1   김유광    경영학과   4   97  100  100   95
2   유대표  컴퓨터공학과   1   90  100   87   94
3   이종기   기계공학과   1    0   90   88   91
4   홍기철   전자공학과   2   80  100   83   73
5   강동주   전자공학과   3   82  100   98   78
6   심영란  컴퓨터공학과   3   73   75   62   88
7   김유명   기계공학과   4   85  100   78  100
8   송연정   전자공학과   2   80   80   73   98
9   홍길동    경영학과   2   82   90   95   62
10  강호동  컴퓨터공학과   2   95  100  100   98
11  유광석   기계공학과   1   80   75   98   94
12  유대표    경영학과   4   82  100   62   93
13  심영란   전자공학과   3   73  100   78   89
14  강병목   전자공학과   3  100  100   73   94
15  나영웅  컴퓨터공학과   1   90  100   75   81
16  조현호   기계공학과   3   95  100   81   89
17  문희선   전자공학과   4    0   80   73   83
18  박수민   기계공학과   3   80  100   83   91
19  복솔이    경영학과   2   82  100   63   83
20  송지수  컴퓨터공학과   3   90  100   91   93
21  송은경   기계공학과   3   65  100   73   78
22  신아영   전자공학과   4   95  100   95   75
23  심우광  컴퓨터공학과   4   80  100   73   89
24  안지오    경영학과   3   82  100   78   94
25  안지혜    경영학과   3   85  100   88   78
26  오수호   기계공학과   1   95  100   94   98

### to_dict() 매서드 :  Excel Data를 불러 와서  여러가지 형태로 변환 하기

  1. df1=df.to_dict('series')<br>
    to_dict() 에 'series'를 인자로 전달 :  DataFram 'df'를 Dictionary로 변환    
    - key : DataFrame 의 column Data /  value : DataFrame 의 값들을 index를 지닌 series로
  <br><br>
  2. df2=df.to_dict('list')<br>
   to_dict() 에 'list'를 인자로 전달 :  DataFram 'df'를 Dictionary로 변환   
    - key : DataFrame 의 column Data /  value : DataFrame 의 값들을 list로 
  <br><br>
  3. df3=df.to_dict('records')<br>
   to_dict() 에 'records'를 인자로 전달 : DataFram 'df'를 Dictionary로 변환   
   Excel Data의 각 행들을 하나의 Dictionary로 변환하여, 리스트에 저장
   [{'이름':'이종철,'학과':'컴공'...},{'이름':'김유광','학과':'경영'...}]

In [4]:
import pandas as pd

folder="C:/myPyExcel/"
excel_file=folder+'함수.xlsx'

df=pd.read_excel(excel_file, sheet_name="합계평균개수", skiprows=1, usecols="B:H")
df

     이름      학과  학년   과제   출석   중간   기말
0   이종철  컴퓨터공학과   2   73  100   88   73
1   김유광    경영학과   4   97  100  100   95
2   유대표  컴퓨터공학과   1   90  100   87   94
3   이종기   기계공학과   1    0   90   88   91
4   홍기철   전자공학과   2   80  100   83   73
5   강동주   전자공학과   3   82  100   98   78
6   심영란  컴퓨터공학과   3   73   75   62   88
7   김유명   기계공학과   4   85  100   78  100
8   송연정   전자공학과   2   80   80   73   98
9   홍길동    경영학과   2   82   90   95   62
10  강호동  컴퓨터공학과   2   95  100  100   98
11  유광석   기계공학과   1   80   75   98   94
12  유대표    경영학과   4   82  100   62   93
13  심영란   전자공학과   3   73  100   78   89
14  강병목   전자공학과   3  100  100   73   94
15  나영웅  컴퓨터공학과   1   90  100   75   81
16  조현호   기계공학과   3   95  100   81   89
17  문희선   전자공학과   4    0   80   73   83
18  박수민   기계공학과   3   80  100   83   91
19  복솔이    경영학과   2   82  100   63   83
20  송지수  컴퓨터공학과   3   90  100   91   93
21  송은경   기계공학과   3   65  100   73   78
22  신아영   전자공학과   4   95  100   95   75
23  심우광  컴퓨터공학과   4   80  100   73   89
24  안지오    경영학과   3   82  100   78   94
25  안지혜    경영학과   3   85  100   88   78
26  오수호   기계공학과   1   95  100   94   98

In [5]:

df1=df.to_dict(orient='series')
df1

{'이름': 0     이종철
 1     김유광
 2     유대표
 3     이종기
 4     홍기철
 5     강동주
 6     심영란
 7     김유명
 8     송연정
 9     홍길동
 10    강호동
 11    유광석
 12    유대표
 13    심영란
 14    강병목
 15    나영웅
 16    조현호
 17    문희선
 18    박수민
 19    복솔이
 20    송지수
 21    송은경
 22    신아영
 23    심우광
 24    안지오
 25    안지혜
 26    오수호
 Name: 이름, dtype: object,
 '학과': 0     컴퓨터공학과
 1       경영학과
 2     컴퓨터공학과
 3      기계공학과
 4      전자공학과
 5      전자공학과
 6     컴퓨터공학과
 7      기계공학과
 8      전자공학과
 9       경영학과
 10    컴퓨터공학과
 11     기계공학과
 12      경영학과
 13     전자공학과
 14     전자공학과
 15    컴퓨터공학과
 16     기계공학과
 17     전자공학과
 18     기계공학과
 19      경영학과
 20    컴퓨터공학과
 21     기계공학과
 22     전자공학과
 23    컴퓨터공학과
 24      경영학과
 25      경영학과
 26     기계공학과
 Name: 학과, dtype: object,
 '학년': 0     2
 1     4
 2     1
 3     1
 4     2
 5     3
 6     3
 7     4
 8     2
 9     2
 10    2
 11    1
 12    4
 13    3
 14    3
 15    1
 16    3
 17    4
 18    3
 19    2
 20    3
 21    3
 22    4
 23    4
 24    3
 25    3
 26    1
 Name: 학년, dtype: int64,
 '과제': 0      73
 1      97
 2      90
 3       0
 4      80
 5      82
 6      73
 7      85
 8      80
 9      82
 10     95
 11     80
 12     82
 13     73
 14    100
 15     90
 16     95
 17      0
 18     80
 19     82
 20     90
 21     65
 22     95
 23     80
 24     82
 25     85
 26     95
 Name: 과제, dtype: int64,
 '출석': 0     100
 1     100
 2     100
 3      90
 4     100
 5     100
 6      75
 7     100
 8      80
 9      90
 10    100
 11     75
 12    100
 13    100
 14    100
 15    100
 16    100
 17     80
 18    100
 19    100
 20    100
 21    100
 22    100
 23    100
 24    100
 25    100
 26    100
 Name: 출석, dtype: int64,
 '중간': 0      88
 1     100
 2      87
 3      88
 4      83
 5      98
 6      62
 7      78
 8      73
 9      95
 10    100
 11     98
 12     62
 13     78
 14     73
 15     75
 16     81
 17     73
 18     83
 19     63
 20     91
 21     73
 22     95
 23     73
 24     78
 25     88
 26     94
 Name: 중간, dtype: int64,
 '기말': 0      73
 1      95
 2      94
 3      91
 4      73
 5      78
 6      88
 7     100
 8      98
 9      62
 10     98
 11     94
 12     93
 13     89
 14     94
 15     81
 16     89
 17     83
 18     91
 19     83
 20     93
 21     78
 22     75
 23     89
 24     94
 25     78
 26     98
 Name: 기말, dtype: int64}

In [6]:

df2=df.to_dict('list')
df2

{'이름': ['이종철',
  '김유광',
  '유대표',
  '이종기',
  '홍기철',
  '강동주',
  '심영란',
  '김유명',
  '송연정',
  '홍길동',
  '강호동',
  '유광석',
  '유대표',
  '심영란',
  '강병목',
  '나영웅',
  '조현호',
  '문희선',
  '박수민',
  '복솔이',
  '송지수',
  '송은경',
  '신아영',
  '심우광',
  '안지오',
  '안지혜',
  '오수호'],
 '학과': ['컴퓨터공학과',
  '경영학과',
  '컴퓨터공학과',
  '기계공학과',
  '전자공학과',
  '전자공학과',
  '컴퓨터공학과',
  '기계공학과',
  '전자공학과',
  '경영학과',
  '컴퓨터공학과',
  '기계공학과',
  '경영학과',
  '전자공학과',
  '전자공학과',
  '컴퓨터공학과',
  '기계공학과',
  '전자공학과',
  '기계공학과',
  '경영학과',
  '컴퓨터공학과',
  '기계공학과',
  '전자공학과',
  '컴퓨터공학과',
  '경영학과',
  '경영학과',
  '기계공학과'],
 '학년': [2,
  4,
  1,
  1,
  2,
  3,
  3,
  4,
  2,
  2,
  2,
  1,
  4,
  3,
  3,
  1,
  3,
  4,
  3,
  2,
  3,
  3,
  4,
  4,
  3,
  3,
  1],
 '과제': [73,
  97,
  90,
  0,
  80,
  82,
  73,
  85,
  80,
  82,
  95,
  80,
  82,
  73,
  100,
  90,
  95,
  0,
  80,
  82,
  90,
  65,
  95,
  80,
  82,
  85,
  95],
 '출석': [100,
  100,
  100,
  90,
  100,
  100,
  75,
  100,
  80,
  90,
  100,
  75,
  100,
  100,
  100,
  100,
  100,
  80,
  100,
  100,
  100,
  100,
  100,
  100,
  100,
  100,
  100],
 '중간': [88,
  100,
  87,
  88,
  83,
  98,
  62,
  78,
  73,
  95,
  100,
  98,
  62,
  78,
  73,
  75,
  81,
  73,
  83,
  63,
  91,
  73,
  95,
  73,
  78,
  88,
  94],
 '기말': [73,
  95,
  94,
  91,
  73,
  78,
  88,
  100,
  98,
  62,
  98,
  94,
  93,
  89,
  94,
  81,
  89,
  83,
  91,
  83,
  93,
  78,
  75,
  89,
  94,
  78,
  98]}

In [7]:
df4=df.to_dict('records')
df4

[{'이름': '이종철',
  '학과': '컴퓨터공학과',
  '학년': 2,
  '과제': 73,
  '출석': 100,
  '중간': 88,
  '기말': 73},
 {'이름': '김유광',
  '학과': '경영학과',
  '학년': 4,
  '과제': 97,
  '출석': 100,
  '중간': 100,
  '기말': 95},
 {'이름': '유대표',
  '학과': '컴퓨터공학과',
  '학년': 1,
  '과제': 90,
  '출석': 100,
  '중간': 87,
  '기말': 94},
 {'이름': '이종기', '학과': '기계공학과', '학년': 1, '과제': 0, '출석': 90, '중간': 88, '기말': 91},
 {'이름': '홍기철',
  '학과': '전자공학과',
  '학년': 2,
  '과제': 80,
  '출석': 100,
  '중간': 83,
  '기말': 73},
 {'이름': '강동주',
  '학과': '전자공학과',
  '학년': 3,
  '과제': 82,
  '출석': 100,
  '중간': 98,
  '기말': 78},
 {'이름': '심영란',
  '학과': '컴퓨터공학과',
  '학년': 3,
  '과제': 73,
  '출석': 75,
  '중간': 62,
  '기말': 88},
 {'이름': '김유명',
  '학과': '기계공학과',
  '학년': 4,
  '과제': 85,
  '출석': 100,
  '중간': 78,
  '기말': 100},
 {'이름': '송연정', '학과': '전자공학과', '학년': 2, '과제': 80, '출석': 80, '중간': 73, '기말': 98},
 {'이름': '홍길동', '학과': '경영학과', '학년': 2, '과제': 82, '출석': 90, '중간': 95, '기말': 62},
 {'이름': '강호동',
  '학과': '컴퓨터공학과',
  '학년': 2,
  '과제': 95,
  '출석': 100,
  '중간': 100,
  '기말': 98},
 {'이름': '유광석', '학과': '기계공학과', '학년': 1, '과제': 80, '출석': 75, '중간': 98, '기말': 94},
 {'이름': '유대표', '학과': '경영학과', '학년': 4, '과제': 82, '출석': 100, '중간': 62, '기말': 93},
 {'이름': '심영란',
  '학과': '전자공학과',
  '학년': 3,
  '과제': 73,
  '출석': 100,
  '중간': 78,
  '기말': 89},
 {'이름': '강병목',
  '학과': '전자공학과',
  '학년': 3,
  '과제': 100,
  '출석': 100,
  '중간': 73,
  '기말': 94},
 {'이름': '나영웅',
  '학과': '컴퓨터공학과',
  '학년': 1,
  '과제': 90,
  '출석': 100,
  '중간': 75,
  '기말': 81},
 {'이름': '조현호',
  '학과': '기계공학과',
  '학년': 3,
  '과제': 95,
  '출석': 100,
  '중간': 81,
  '기말': 89},
 {'이름': '문희선', '학과': '전자공학과', '학년': 4, '과제': 0, '출석': 80, '중간': 73, '기말': 83},
 {'이름': '박수민',
  '학과': '기계공학과',
  '학년': 3,
  '과제': 80,
  '출석': 100,
  '중간': 83,
  '기말': 91},
 {'이름': '복솔이', '학과': '경영학과', '학년': 2, '과제': 82, '출석': 100, '중간': 63, '기말': 83},
 {'이름': '송지수',
  '학과': '컴퓨터공학과',
  '학년': 3,
  '과제': 90,
  '출석': 100,
  '중간': 91,
  '기말': 93},
 {'이름': '송은경',
  '학과': '기계공학과',
  '학년': 3,
  '과제': 65,
  '출석': 100,
  '중간': 73,
  '기말': 78},
 {'이름': '신아영',
  '학과': '전자공학과',
  '학년': 4,
  '과제': 95,
  '출석': 100,
  '중간': 95,
  '기말': 75},
 {'이름': '심우광',
  '학과': '컴퓨터공학과',
  '학년': 4,
  '과제': 80,
  '출석': 100,
  '중간': 73,
  '기말': 89},
 {'이름': '안지오', '학과': '경영학과', '학년': 3, '과제': 82, '출석': 100, '중간': 78, '기말': 94},
 {'이름': '안지혜', '학과': '경영학과', '학년': 3, '과제': 85, '출석': 100, '중간': 88, '기말': 78},
 {'이름': '오수호',
  '학과': '기계공학과',
  '학년': 1,
  '과제': 95,
  '출석': 100,
  '중간': 94,
  '기말': 98}]

## Pandas로 Excel 에 데이터 기록 
### df.to_excel(excel_file)  :  DataFrame 'df'를 'excel_file'에 기록 
#### 옵션 : index = True/False  ,  header = True/False  ,  sheet_name = '시트명'  ,  startrow = 시작행(0행부터)  ,  startcol = 시작열(0 부터)

In [8]:
lst1=[]  # 빈 리스트 생성

# df4 에서  학과가 '컴퓨터공학과' 인 Data만 lst1에 저장
for i in range(0,20):
    if df4[i]['학과']=="컴퓨터공학과":   
        lst1.append(df4[i])

# lst1로 DataFrame 생성 해서, 'new_엑셀파일.xlsx'에 저장 하는데, 시트명:컴공, 1행 1열 부터 기록하고, column과 index는 제외하고 순수 Data만 기록
df5=pd.DataFrame(lst1)
df5.to_excel(folder+'new_엑셀파일.xlsx',sheet_name='컴공', startrow=1, startcol=1, index=False, header=False)

# 이 방법의 문제는 한번에 한개의 DataFrame 만 기록 할 수 있기 때문에,  마지막에 기록한 excel Data만 기록 된다.

### 여러개의 DataFrame 데이터를 엑셀 파일에 기록
#### xlsxwriter  혹은  Openpyxl  같은 라이브러리르 사용 해야 한다.(아나콘다에는 기본적으로 탑재 되어 있다. )
    - xlsxwriter : 속도 빠르지만, 기존 데이터에 이어 쓰기가 안되고, 덮어 쓰기, 혹은 새로만들기만 된다. 
    - openpyxl : 속도 느리지만, 기존 데이터에 이어 쓰기가 가능하다. 
#### writer=pd.ExcelWriter(excel_file, engin='xlsxwriter)
    # Pandas의 ExcelWriter로 engine은 'xlsxwriter' 를 이용해서 엑셀에 기록하기 위한 개체 'writer'를 생성

#### df5.to_excel(writer, sheet_name='시트명')
#### df6.to_excel(writer, sheet_name='시트명')
    # df5과 df6를 'writer'객체를 이용해서, 각각 다른 시트에 기록

In [9]:
lst1=[]
lst2=[]

for i in range(0,20):
    if df4[i]['학과']=="컴퓨터공학과":
        lst1.append(df4[i])
    elif df4[i]['학과']=="전자공학과":
        lst2.append(df4[i])

lst1

df5=pd.DataFrame(lst1)
df6=pd.DataFrame(lst2)

df6

df5.to_excel(folder+'new_엑셀파일.xlsx',sheet_name='컴공', startrow=1, startcol=1)
df6.to_excel(folder+'new_엑셀파일.xlsx',sheet_name='전자', startrow=1, startcol=1)

In [10]:
# 엑셀 문서에 기록 하기 위한 개체 writer 생성
wFile=folder+'new_엑셀파일.xlsx'  # 파일 경로와 파일명 String
writer=pd.ExcelWriter(wFile, engine='xlsxwriter') # Pandas의 ExcelWriter 'writer'를  'xlswriter'를 사용해서 생성

# df5과 df6를 writer 객체를 통해서 엑셀 파일로 기록 한다. 
# 각각 '컴공', '전자' 시트에 1행 1열 부터 기록하며, index는 생략 한다. 
df5.to_excel(writer, sheet_name='컴공', startrow=1, startcol=1, index=False)
df6.to_excel(writer, sheet_name='전자', startrow=1, startcol=1, index=False)

# writer 객체를 저장 하고 종료
writer.save()

#### with 블럭문 사용 하기 : 마지막에 .save() 를 사용 안 해도 된다.

In [11]:
# with 구문 사용, 앞의 예제와 동일한 결과
'''
with pd.ExcelWriter(wFile, engine='xlsxwriter') as writer:
    df5.to_excel(writer, sheet_name='컴공', startrow=1, startcol=1, index=False)
    df6.to_excel(writer, sheet_name='전자', startrow=1, startcol=1, index=False)
'''

"\nwith pd.ExcelWriter(wFile, engine='xlsxwriter') as writer:\n    df5.to_excel(writer, sheet_name='컴공', startrow=1, startcol=1, index=False)\n    df6.to_excel(writer, sheet_name='전자', startrow=1, startcol=1, index=False)\n"

#### 위의 예제 처럼 'xlsxwriter' 를 사용 하게 문서 혹은 시트를 새로 작성하는것과 동일한 결과를 가져온다. 
#### 기존 문서에 추가로 데이터를 기록 하려면, 'xlsxwriter'가 아닌 'openpyxl' 을 사용해야 하는데, 아래는 그 예제 코드이다.

In [12]:
import openpyxl

# load_workbook() 으로 wFile 을 불러와서 wb를 초기화 
wb=openpyxl.load_workbook(wFile)

# 추가하려는 딕셔너리 데이터
dic=[
    {'이름':'홍길동', '학과':'컴퓨터공학과','학년':2, '과제':80,'출석':93, '중간':80, '기말':59},
    {'이름':'강호동', '학과':'컴퓨터공학과','학년':3, '과제':70,'출석':83, '중간':78, '기말':60},
    {'이름':'유재석', '학과':'컴퓨터공학과','학년':2, '과제':85,'출석':92, '중간':60, '기말':78}
    ]

#추가 데이터를 DataFrame으로 변환
df7=pd.DataFrame(dic)

# 엑셀에 기록하기위한 Pandas의 ExcelWriter 객체 writer 를 , openpyxl 을 사용하여 생성
writer=pd.ExcelWriter(wFile,engine='openpyxl')

# writer의 book에 wb 저장
writer.book=wb

# wirter의 sheets 를 초기화 하여 저장 하는거 같은데, 여기를 모르겠음
# 아래 writer.sheets={ }  이 부분을 주석 처리하면 아래 기록 하는 곳에서 '컴공1' 이라는 새로운 시트를 만들어 버림
writer.sheets={
    ws.title:ws
    for ws in wb.worksheets
}

df7.to_excel(writer,sheet_name='컴공', startrow=wb.worksheets[0].max_row, startcol=1, index=False, header=False)

writer.save()

#### 엑셀 데이터 중에서 조건에 맞는 데이터만 추출 해서 다시 기록 하기
#### 매입 수량이 200~300 인 데이터만을 추출 및 가공 해서 test2에 새로운 시트를 만들어서 기록 해 보자

In [13]:
import pandas as pd
import openpyxl as op

folder='c:/myPyExcel/data/ch05/'
readFile = folder+'readData.xlsx'
writeFile = folder+'test2.xlsx'

# 조건에 맞는 데이터를 딕셔너리 데이터로 만들기 위한 리스트 생성
bookName=[]
author=[]
puNum=[]
orNum=[]
delNum=[]
praNum=[]

# 엑셀에서 데이터 읽어오기
df1=pd.read_excel(readFile, sheet_name=0, skiprows=2, usecols='B:H')
df2=pd.read_excel(readFile, sheet_name=1, skiprows=2, usecols='b:h')
df3=pd.read_excel(readFile, sheet_name=2, skiprows=1, usecols='a:f,h')


i=0

# 0 ~ df1의 길이 만큼 반복문을 통해서 매입수량이 200 ~ 400 인 데이터를 검색해서 리스트에 추가
for i in range(i,len(df1)):    
    if df1.iloc[i]['매입수량'] > 200 and df1.iloc[i]['매입수량'] < 400 :
        bookName.append(df1.iloc[i]['도서명'])
        author.append(df1.iloc[i]['저자'])
        puNum.append(df1.iloc[i]['매입수량']*1.1)
        orNum.append(df1.iloc[i]['주문수량']*1.1)
        delNum.append(df1.iloc[i]['배송수량']*1.1)
        praNum.append(df1.iloc[i]['재고수량'])

dic={
    '도서명':bookName,
    '저자':author,
    '매입수량':puNum,
    '주문수량':orNum,
    '배송수량':delNum,
    '재고수량':praNum
}

df1=pd.DataFrame(dic)

with pd.ExcelWriter(writeFile, engine='openpyxl', mode='a') as writer:
    df1.to_excel(writer, sheet_name='결과값', index=False)

#### 여러 개의 DataFrame 을 하나의 worksheet에 추가 하는 방법

In [14]:
import pandas as pd
folder='c:/myPyExcel/data/ch05/'
readFile = folder+'readData.xlsx'
writeFile = folder+'test2.xlsx'

df1=pd.read_excel(readFile, sheet_name=0, skiprows=2, usecols='B:H')
df2=pd.read_excel(readFile, sheet_name=1, skiprows=2, usecols='b:h')
df3=pd.read_excel(readFile, sheet_name=2, skiprows=1, usecols='a:f,h')

with pd.ExcelWriter(writeFile, engine='xlsxwriter') as writer:
    df1.to_excel(writer, sheet_name='df1', index=False)
    df2.to_excel(writer, sheet_name='df1', index=False, startrow=11)
    df3.to_excel(writer, sheet_name='df1', index=False, startrow=0, startcol=8)

#### CSV 파일(txt파일) 읽어서 Excel 파일로 쓰기 : 
    - txt 파일에는 학번, 성명, 학과, 숫자데이터 가 엔터로 구분되어서 한개의 열 형태로 들어가 있다<br>
      이 데이터를 4열의 표 형태로 가공해서 엑셀에 입력 해 보자

In [15]:
import pandas as pd
import numpy as np

folder='c:/myPyExcel/data/ch05/'
csvFile = folder+'csvData.txt'
excelFile=folder+'test2.xlsx'
tmpList=[]

df=pd.read_csv(csvFile, header=None)

i=0

for i in range(len(df)):
   tmpList.append(df.iloc[i][0])
 

arr=np.array(tmpList)
arr1=arr.reshape(-1,4)

df1=pd.DataFrame(arr1)

with pd.ExcelWriter(excelFile, engine='openpyxl', mode='a') as writer:
    df1.to_excel(writer, sheet_name='df2',header=0, index=False)